@{
    ViewData["Title"] = "Exclusão de Contatos";
}

<div class="text-center">
    <h3>Deseja excluir o registro selecionado</h3>

</div>

<a class="btn btn-primary" role="button" asp-controller="Contato" asp-asp-action="Apagar"> Confirmar</a>
<a class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>