@model ContatoModel
@{
    ViewData["Title"] = "Exclusão de Contatos";
}

<div class="text-center">
    <h3>Deseja excluir o registro selecionado (@Model.Nome)</h3>
</div>

<a class="btn btn-primary btn-block" asp-action="Apagar" asp-controller="Contato"asp-route-id="@Model.Id" role="button">Confirmar</a>
<a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="Contato" role="button">Cancelar</a>